{% extends 'base.html' %} {% load static %} {% block head %}

<link href="{% static 'libs/googlefonts.css' %}" rel="stylesheet" />
<link href="{% static 'libs/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'libs/tailwind.min.css' %}" />
<link rel="stylesheet" href="{% static 'libs/fontawesome-6.1.1/css/all.css' %}">
<link rel="stylesheet" href="{% static 'more_movies.css' %}" />
<link rel="stylesheet" href="{% static 'grid.css' %}" />
<link rel="stylesheet" href="{% static 'category.css' %}" />

{% endblock head %} {% block body %}
<form action="{% url 'search_results' %}" autocomplete="off" method="post" spellcheck="false">
  {% csrf_token %}

  <div class="flex justify justify-center">
    <div class="relative">
      <div class="absolute top-4 left-3">
        <i class="fa fa-search text-gray-400 z-20 hover:text-gray-500"></i>
      </div>
      <input type="text" class="h-14 w-96 pl-10 pr-20 rounded-lg z-0 focus:shadow focus:outline-none"
        style="color: black !important" placeholder="Search for Movies..." name="search" />
      <div class="absolute top-2 right-2">
        <button class="h-10 w-20 text-white rounded-lg bg-red-500 hover:bg-red-600" id="searc_submit" spellcheck="false"
          type="submit">
          Search
        </button>
      </div>
    </div>
  </div>
</form>

<div class="section">
  <div class="container" style="margin-right: 11.5em">
    <div class="section-header">ACTION</div>
  </div>
  <div id="group">
    {% for movie in movie %} {% if movie.category == 'ACTION' %}
    <div id="block" style="width: 320px; padding: 0.4em; padding-bottom: 1.5em">
      <a href="{% url 'movie_detail' movie.pk %}" class="movie-item" style="height: 450px">
        <img style="height: 450px" src="{{movie.image.url}}" alt="{{movie.title}}" />
        <div class="movie-item-content">
          <div class="movie-item-title">{{movie.title}}</div>
          <div class="movie-infos">
            <div class="movie-info">
              <i class="bx bxs-star"></i>
              <span>{{movie.status}}</span>
            </div>
            <div class="movie-info">
              <i class="bx bxs-time"></i>
              <span>{{movie.category}}</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

<div class="center">
  <div class="pagination">
    {% if movie.has_previous %}
    <a href="?page={{ movie.previous_page_number }}">&laquo;</a>
    {% endif %}
    <a class="active">Page {{movie.number}} of {{movie.paginator.num_pages}}</a>
    {% if movie.has_next %}
    <a href="?page={{ movie.next_page_number }}">&raquo;</a>
    {% endif %}
  </div>
</div>

{% endblock body %}