{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>EgyFlix</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

{% block head %}
{% endblock head %}


</head>

<body>

    

    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>    

    <div id="disable-while-loading">
    <div class="nav-wrapper">
        <div class="container">
            <div class="nav">
                <a href="{% url 'movie_list' %}" class="logo">
                    Egy<span class="main-color">Flix</span></span>
                </a>

                <div class="hamburger-menu" id="hamburger-menu">
                    <div class="hamburger"></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% block body %}
    {% endblock body %}






    <footer class="section">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-6 col-sm-12">
                    <div class="content">
                      <a href="/" class="logo">
                        Egy<span class="main-color">Flix</span>
                        </a>
                        <p>
                            Unlimited movies, TV shows, and more. Watch anywhere. Cancel anytime. Ready to watch? Enter
                            your email to create or restart your membership.
                        </p>
                        <div class="social-list">
                            <a target="_blank" href="https://www.facebook.com/flix.org" class="social-item">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="bx bxl-twitter"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-8 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <ul class="footer-menu">
                                    <li><a href="{% url 'about' %}">About us</a></li>
                                    <li><a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=sherif.abdulla@outlook.com">Contact us</a></li>
                                    <li><a href="https://github.com/sherif-abdallah">Github</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <div class="copyright" id="copyright">
        Copyright 2021 Sherif Abdullah</a>
    </div>
    </div>



    
    <script src="{% static 'libs/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'libs/owlcarousel2/dist/owl.carousel.min.js' %}" ></script>

    <script src="{% static 'app.js' %}"></script>


</body>

</html>
