center a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }

  center a:hover {
    background-color: #ddd;
    color: black;
  }

  .previous {
    background-color: #f1f1f1;
    color: black;
  }

  .next {
    background-color: #4caf50;
    color: white;
  }

  .round {
    border-radius: 50%;
  }